<div class="row">
  <div class="column">
    <record-list collection-name="normalizations">
      <div class="ui segments">
        <div class="ui segment">
          <record-list-header options="{title: 'Normalizations'}"></record-list-header>
        </div>
        <div class="ui secondary segment">
          <record-list-body select-id="normalizationsFieldSelect" pagination-identifier="normalizationsPaginator"></record-list-body>
        </div>
      </div>
    </record-list>
  </div>
</div>
